@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(5, 5, 6);
}

h1 {
  font-family: 'Afacad', sans-serif;
}

